#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  backuppc-app.service
BindsTo=backuppc.service
After=backuppc.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/discovery_ldap.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/backuppc-app.pid %t/backuppc-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/usr/local/bin/runagent discover-ldap
ExecStartPre=/usr/local/bin/runagent expand-configuration
ExecStart=/usr/bin/podman run --conmon-pidfile %t/backuppc-app.pid \
    --cidfile %t/backuppc-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/backuppc.pod-id --replace -d --name  backuppc-app \
    --cap-add NET_RAW \
    --volume data:/var/lib/backuppc:Z \
    --volume conf:/etc/backuppc:Z \
    --volume home:/home/backuppc:Z \
    --volume logs:/www/logs:Z \
    --volume %S/conf.d/backuppc.conf:/etc/nginx/sites.available/backuppc.conf:Z \
    --env NGINX_AUTHENTICATION_TYPE=${AUTH_METHOD} \
    --env NGINX_AUTHENTICATION_BASIC_USER1=${AUTH_USER} \
    --env NGINX_AUTHENTICATION_BASIC_PASS1=${AUTH_PASS} \
    --env DEBUG_MODE=FALSE \
    --env SMTP_* \
    --env NGINX_* \
    ${BACKUPPC_IMAGE}
ExecStartPost=podman exec backuppc-app sed -i "s/\\\$Conf{CgiAdminUsers} = 'backuppc';/\\\$Conf{CgiAdminUsers} = 'backuppc administrator';/g" /etc/backuppc/config.pl
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/backuppc-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP backuppc-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/backuppc-app.ctr-id
PIDFile=%t/backuppc-app.pid
Type=forking

[Install]
WantedBy=default.target
