#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  backuppc-app.service
BindsTo=backuppc.service
After=backuppc.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/discovery_ldap.env
ExecStartPre=/usr/local/bin/runagent discover-ldap
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p ./conf/etc
ExecStartPre=/bin/mkdir -p ./conf/home
ExecStartPre=/bin/rm -f %t/backuppc-app.pid %t/backuppc-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/usr/local/bin/runagent discover-ldap
ExecStart=/usr/bin/podman run --conmon-pidfile %t/backuppc-app.pid \
    --cidfile %t/backuppc-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/backuppc.pod-id --replace -d --name  backuppc-app \
    --cap-add NET_RAW \
    --volume data:/var/lib/backuppc:Z \
    --volume ./conf/etc/:/etc/backuppc:Z \
    --volume ./conf/home/:/home/backuppc:Z \
    --volume ./conf/home/:/home/backuppc:Z \
    --env NGINX_AUTHENTICATION_TYPE=LDAP \
    --env  NGINX_AUTHENTICATION_BASIC_USER1=backuppc \
    --env NGINX_AUTHENTICATION_BASIC_PASS1=backuppc \
    --env DEBUG_MODE=FALSE \
    --env SMTP_* \
    --env NGINX_* \
    ${BACKUPPC_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/backuppc-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP backuppc-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/backuppc-app.ctr-id
PIDFile=%t/backuppc-app.pid
Type=forking

[Install]
WantedBy=default.target
